@model List<string>

    <h3>Burası SHARED - PARTIALS - _sharedPartial.cshtml SAYFASIDIR.</h3>

    @if (Model!=null)
   {
       <ul>
           @foreach (var item in Model)
          {
              <li>
                  @item
              </li>
          }
       </ul>
   }