@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center yesil">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@section Stil
{

<style>
    .yesil {
        color: green;
        background-color: pink;
    }
</style>

}

@section Deneme
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
    </li>
}




@await Component.InvokeAsync("MovieWithDirectorTop")