<div class="row" style="background-color:olive;">
    <p>Burası Home Controller - Menu action viewıdır..</p>
</div>

<br /><hr />

<partial name="~/Views/Shared/Partials/_sharedPartial.cshtml" model='new List<string>{"Pazartesi","Salı","Çarşamba","Perşembe"}'></partial>