<!--

    PARTIAL VIEW (Parça View)
    * Hangi Kontroller kullanılacaksa ona ait olan view klasörü altında PARTIALS isimli klasör açılarak ve istendiği kadar view Ekleyerek oluşturulabilirler.
    * Genel olarak _ ile isimlendirme başlar ve partial ifadesiyle biter

    * Tüm kontrollerin altındaki actionların viewların görünmesini / kullanılmasını istediğimiz parça viewlar varsa bunu SHARED klasötrü altına PARTIALS klasörü açarak oraya viewları eklememiz gerekir.

    * Partiallar yani parça viewlar X sayfalarda ancak istediğimiz daha küçük viewlardır.
    * Model alınabilirler / almayabilirler. (Gelen model olması durumuna karşı kontrol yapılmalı.)
    * Layoutta herhangi bir düzenleme gerekmez, mantık olarak kod tarafındaki metotlaştırma olarak düşünebiliriz.

-->

@model List<Director>

<div class="row" style="background-color:olive;">
    <p>Burası _directorListPartial.cshtml</p>
    @if (Model!=null)
   {
       <ul>
           @foreach (var item in Model)
          {
              <li>@item.FirstName   @item.LastName</li>
          }
       </ul>
   }
</div>
