@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <p style="background-color:cadetblue;">burası home contrellerın merhaba actionunun view sayfası</p>
</div>