@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Burası Home - NotFoundAction sayfasıdır. Geçersiz bir adres yazdınız.</h4>

<p>Anasayfaya gitmek için tıklayınız ==> <a class="btn" asp-action="Index" asp-controller="Home">ANASAYFA</a> </p>