@model List<Director>




@foreach (var item in Model)
{
    
    <div class="card">
        <div class="card-body">
            <p>Yazarın Adı: @item.FullName</p>
            <ul>
                Yazarın Filmleri :
                @foreach (var movie in item.Movies)
                {
                    @if (movie.IsActive)
                    {
                        <li>@movie.Name</li>
                    }
                }
            </ul>
        </div>
    </div>
}